---
import BaseLayout from './BaseLayout.astro'
import ScaffoldLayout from './ScaffoldLayout.astro';
---

<BaseLayout>
  <ScaffoldLayout>
    <div class="p-8">
      <div class="flex w-full flex-col">
        <slot />
      </div>
    </div>
  </ScaffoldLayout>
</BaseLayout>
