@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "tailwindcss-animate";

:root {
  --color-primary: oklch(65% 0.2 145); /* Green-500 equivalent */
  --color-secondary: oklch(70% 0.15 180); /* Teal-ish */
  --color-accent: oklch(85% 0.2 95); /* Yellow-ish */
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
}

body {
  @apply m-0 bg-base-100 text-neutral-900;
  font-family:
    'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply tracking-tight;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
