@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "daisyui" {
  themes: void --default;
}

@plugin "daisyui/theme" {
  name: "void";
  default: true;
  color-scheme: dark;

  --color-base-100: #462a7d;
  --color-neutral: #000509;
  --color-primary: #f3ef00;
  --color-secondary: #009af9;
  --color-accent: #00977e;
  --color-info: #00cbf8;
  --color-success: #00a260;
  --color-warning: #e59200;
  --color-error: #ff4d5e;
}
