@import "tailwindcss";

@theme {
  --font-sans:
    "Bricolage Grotesque Variable", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dragonred --default;
}

@plugin "daisyui/theme" {
  name: "dragonred";
  default: true;
  --color-primary: #ed2533;
  --color-secondary: #f4ceb5;
  --color-accent: #c6a4ea;
  --color-neutral: #3c283e;
  --color-base-100: #ffffff;
  --color-info: #9bafe8;
  --color-success: #7de3d6;
  --color-warning: #c6970c;
  --color-error: #e2405b;
}

@utility scrollbar-hide {
  /* IE and Edge */
  -ms-overflow-style: none;

  /* Firefox */
  scrollbar-width: none;

  /* Safari and Chrome */
  &::-webkit-scrollbar {
    display: none;
  }
}
