@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dragonred --default;
}

@plugin "daisyui/theme" {
  name: "dragonred";
  default: true;
  --color-primary: #ed2533;
  --color-secondary: #f4ceb5;
  --color-accent: #c6a4ea;
  --color-neutral: #3c283e;
  --color-base-100: #ffffff;
  --color-info: #9bafe8;
  --color-success: #7de3d6;
  --color-warning: #c6970c;
  --color-error: #e2405b;
}
