<footer class="footer footer-center bg-base-100 text-base-content p-10">
  <nav class="grid grid-flow-col gap-2">
    <a
      class="link-hover link"
      href="https://linkedin.com/company/infinity-horizons/jobs"
    >Careers</a
    >
    <a class="link-hover link" href="mailto:contact@shikanime.studio">Contact</a
    >
  </nav>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - Made with <span
        role="img"
        aria-label="heart"
                                                         >
        ❤️
      </span> by <a class="link-hover link" href="https://shikanime.studio">
        Shikanime Studio
      </a>
    </p>
  </aside>
</footer>
