<footer class="footer footer-center bg-base-100 text-base-content p-10">
  <nav class="grid grid-flow-col gap-4">
    <a
      class="link link-hover"
      href="https://linkedin.com/company/infinity-horizons/jobs"
    >Careers</a
    >
    <a class="link link-hover" href="mailto:contact@shikanime.studio">Contact</a
    >
  </nav>
  <aside>
    <p>
      Copyright © {new Date().getFullYear()} - All right reserved by Shikanime Studio
    </p>
  </aside>
</footer>
