name: Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - gh/*/*/base
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v19
      - uses: DeterminateSystems/magic-nix-cache-action@v13
      - name: Install Dependencies
        run: nix develop . --impure -c npm clean-install --include=dev
      - name: Check Nix Flake
        run: |
          nix flake check \
            --all-systems \
            --no-pure-eval \
            --accept-flake-config
