name: Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - gh/*/*/base
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v19
      - name: Check Nix Flake
        run: |
          nix develop . --impure -c nix flake check -- \
            --accept-flake-config \
            --all-systems \
            --impure
