name: Check
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - gh/*/*/base
      - main
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-qemu-action@v3
        with:
          platforms: arm64
      - uses: DeterminateSystems/nix-installer-action@v17
        with:
          extra-conf: extra-platforms = aarch64-linux
      - name: Check Nix Flake
        run: |
          nix develop . --impure -c nix flake check -- \
            --all-systems \
            --no-pure-eval \
            --accept-flake-config
