name: Land
on:
  issue_comment:
    types:
      - created
jobs:
  land:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: shikanime-studio/setup-nix-action@v1
      - uses: shikanime-studio/sapling-action@v4
        with:
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          sign-commits: true
          username: Operator 6O <operator6o@shikanime.studio>
