name: Update
on:
  schedule:
    - cron: 0 0 * * 0
  workflow_dispatch: null
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: shikanime-studio/setup-nix-action@v1
      - uses: shikanime-studio/automata-action@v1
        with:
          ghstack-username: operator6o
          gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          sign-commits: true
          username: Operator 6O <operator6o@shikanime.studio>
